 * {

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

   }
  
  body {

    font-family: Arial, sans-serif;
    background: #E0E0E0;
    color: #fff;
    margin: 20px;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;

 }

 .login-form {

   overflow: hidden;
   height: 100vh;

 }

 h1 {
  
  
   color:#272727;
   justify-content: center;
   text-align: center;
   margin-top: -3%;
   margin-left:32%;
   position: absolute;

   /* padding-top: 20px; */

  }
  
  form {

    width: 75%;
    height: 95vh;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 45px;
    overflow: hidden;
    background: #959B8C;
    border: 1px solid rgb(128, 119, 119);
    border-radius: 8px ;
    box-shadow: inset 0 0 1px #272727;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
  .field {
    width: 48%; 
    margin-bottom: 5px;
  }
  
  .field.f2 {
    width: 100%; 
  }
  ::-webkit-calendar-picker-indicator{
    filter:invert(1);
}
  .field input{

    height: 50px;
    width: 100%;
    outline: none;
    font-size: 19px;
    color: #171616;
    padding: 0 15px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #444;
    width: 100%;

  }
  form button {

    height: 50px;
    width: 100%;
    outline: none;
    font-size: 19px;
    color: #f5f0f0;
    padding: 0 15px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #444;
    caret-color: #f9fff9;
    background: linear-gradient(#3f3f3f,#414040);
    width: 100%;

  }
  
  
  input:focus{
    color: #111311;
    box-shadow: 0 0 5px rgba(0,255,0,.2),
                inset 0 0 5px rgba(0,255,0,.1);
                background: linear-gradient(#0f0e0e,#343333);
    animation: glow .8s ease-out infinite alternate;
  }
  @keyframes glow {
    0%{
     border-color: #eaeaea;
     box-shadow: 0 0 5px rgba(96, 97, 96, 0.2),
       inset 0 0 5px rgba(0, 0, 0, .1);
   }

   100% {

     border-color: rgb(239, 245, 239);
     box-shadow: 0 0 20px rgba(240, 242, 240, 0.6),
       inset 0 0 10px rgba(242, 244, 242, 0.4);
   }

 }

 label {
  
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
   color: #0f0e0e;

 }


 input[type="text"],
 input[type="date"],
 input[type="email"],
 input[type="password"],
 input[type="tel"] {
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #666;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: #555;
   background: #D8D8D6;


 }

 input[type="text"]:focus,
 input[type="date"]:focus,
 input[type="email"]:focus {
   color: rgb(10, 11, 12);
 }

 input[type="password"]:focus,
 input[type="tel"]:focus {

   outline: none;
   color: #fff;

 }

 button {

   border-radius: 10px !important;
   font-weight: 600;
   letter-spacing: 1px;
   cursor: pointer;
 }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
} 

 button:hover {

   color: #eef0ee;
   /* border: 1px solid #e1ede1; */
   box-shadow: 0 5PX 5px rgba(251, 251, 251, 0.3),
     0 0 10px rgba(252, 254, 252, 0.2),
     0 0 15px rgba(255, 255, 255, 0.1),
     0 2px 0 black;
   transition: all 0.5;
 }

 /* selector */
 .field select {

   justify-content: center;
   font-weight: bold;
   letter-spacing: 0.1em;
   width: 100%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #666;
   border-radius: 4px;
   box-sizing: border-box;
   background: #D8D8D6;
   color: #959B8C;

 }

 .field select:focus {
   outline: none;
   color: #070707;
   border-color: rgb(246, 246, 249);
 }

 .field select::-ms-expand {
   display: none;
 }

 .field select::after {
   content: '\25BC';
   position: absolute;
   top: 50%;
   right: 15px;
   transform: translateY(-50%);
   color: #fff;
   pointer-events: none;
 }

/* 
 .position {
   width: 100px;
   padding: 10px;
   font-size: 15px;
 }

 option::[disabled]:first-child {
   color: black;
 } */









 /* Style for options */
 .field select option {
   background-color: #555;
   color: #fff;
 }

 .link {
   margin-top: 25px;
   color: #414040;
   font-weight: 700;
 }

 .link a {
   color: #fbfcfb;
   text-decoration: none;
 }

 .link a:hover {
   text-decoration: none;
}
  /* Media Queries */
  @media screen and (max-width: 768px) {
    form {
      width: 90%; /* Adjust the form width for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    form {
      width: 100%; /* Further adjust the form width for smaller screens */
    }
  
    label,
    input,
    button {
      font-size: 16px;
    }
  }
  